<!DOCTYPE html>
<html lang="en-US">
	<title>PowerBall</title>
	<script src="./angular.min.js"></script>
	<script src="powerball.js"></script>
	<script src="powerballController.js"></script>
	<link rel="stylesheet" type="text/css" href="powerball.css">
	<body>
		See how you can get money by playing the Powerbaal
		<!--
		Choose your number

		or automatic draw

		money you want to invest

		number if draw

		get the gains
		-->
		<div ng-app="powerBall" ng-controller="newDrawCtrl" data-ng-init="redraw()">
			<p>
				<span class="whiteball" ng-repeat="ball in whiteBalls">{{ ball }}</span>
				<span class="powerball">{{ powerBall }}</span>
			</p>
			<button ng-click="redraw()">
				New Draw
			</button>

			<p>
				Investment:
				<input ng-model="investment" />
				$

				<button ng-click="play()">
					Play
				</button>
			</p>

			<table class="result">
				<tr>
					<th>Investment</th><th>Play</th><th>Losses</th><th>Earning</th>
				</tr>
				<tr>
					<td>{{investment | currency : "$":0}} </td>
					<td>{{investment / 2}}</td>
					<td>{{earning - investment | currency : "$":0}}</td>
					<td>{{earning | currency : "$":0}}</td>
				<tr>
			</table>
			<br/>
			<table>
				<tr>
					<th>Whites</th><th>PBall</th><th>Prize</th><th>Matches</th><th>Total</th>
				</tr>
				<tr ng-repeat="x in matchPrize | orderBy : '-key'">
					<td>{{x.key[0]}}</td>
					<td>{{x.key[1]}}</td>
					<td>{{x.value | currency : "$":0}}</td>
					<td>{{matches[x.key]}}</td>
					<td>{{x.value * matches[x.key] | currency : "$":0}}</td>
				</tr>
				
			</table>
		</div>
	</body>
</html>